<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlychitieu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:label="Quản lý số dư" android:name=".ViewSoDu"></activity>
        <activity android:label="Đăng ký" android:name=".Register" />
        <activity android:label="Thêm chi tiêu" android:name=".AddNewKhoanChiTieu" />
        <activity android:label="Quản lý chi tiêu" android:name=".ListFragmentChiTieu" />
        <activity android:label="Đăng nhập" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>